.mua-hang-header {
  height: var(--header_height);
  background-color: var(--grey_color);
  padding: 4px 16px;
}

.mua-hang-header .logo {
  height: 100%;
}

.mua-hang-header .menu-toggle {
  cursor: pointer;
}

.mua-hang-header .menu-toggle.menu-open {
  display: none;
}

.mua-hang-header .menu-toggle-close {
  display: none;
  cursor: pointer;
}

.mua-hang-header .menu-toggle-close.menu-open {
  display: block;
}
